<section class="new-post">
  <h2 class="new-post-header">Create New Blog</h2>

  <form class="new-post-form">
    <div class="new-blog">
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
      <div class="new-blog">
    <label for="post-text">Blog</label>
    <textarea name="post-text-body"></textarea>
    <button type="submit" class="create-btn btn">Create</button>
  </div>
  </form>
</section>


{{#if posts.length }}
<section>
  <h2>Your Blog</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
{{>post-info post}}
    </li>
         <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
<script src="/javascript/edit-post.js"></script>